body
{
  font-family: cantarell, sans-serif;
}
.synopsis, .classsynopsis
{
  background:
  background: rgba(238, 238, 236, 0.5);
  border: solid 1px rgb(238, 238, 236);
  padding: 0.5em;
}
.programlisting
{
  background:
  border: solid 1px
  background: rgba(114, 159, 207, 0.1);
  border: solid 1px rgba(114, 159, 207, 0.2);
  padding: 0.5em;
}
.variablelist
{
  padding: 4px;
  margin-left: 3em;
}
.variablelist td:first-child
{
  vertical-align: top;
}
span.nowrap {
  white-space: nowrap;
}
div.gallery-float
{
  float: left;
  padding: 10px;
}
div.gallery-float img
{
  border-style: none;
}
div.gallery-spacer
{
  clear: both;
}
a, a:visited
{
  text-decoration: none;
  color:
}
a:hover
{
  text-decoration: underline;
  color:
}
.function_type,
.variable_type,
.property_type,
.signal_type,
.parameter_name,
.struct_member_name,
.union_member_name,
.define_keyword,
.datatype_keyword,
.typedef_keyword
{
  text-align: right;
}
.c_punctuation,
.function_type,
.variable_type,
.property_type,
.signal_type,
.define_keyword,
.datatype_keyword,
.typedef_keyword,
.property_flags,
.signal_flags,
.parameter_annotations,
.enum_member_annotations,
.struct_member_annotations,
.union_member_annotations
{
  color:
}
.function_type a,
.function_type a:visited,
.function_type a:hover,
.property_type a,
.property_type a:visited,
.property_type a:hover,
.signal_type a,
.signal_type a:visited,
.signal_type a:hover,
.signal_flags a,
.signal_flags a:visited,
.signal_flags a:hover
{
 color:
}
td p
{
  margin: 0.25em;
}
div.informaltable table[border="1"],
div.table table
{
  border-collapse: collapse;
  border-spacing: 0px;
  border: solid 1px
}
div.informaltable table[border="1"] td,
div.informaltable table th,
div.table table td, div.table table th
{
  border: solid 1px
  padding: 3px;
  vertical-align: top;
}
div.informaltable table[border="1"] th,
div.table table th
{
  background-color:
}
h4
{
  color:
  margin-top: 1em;
  margin-bottom: 1em;
}
hr
{
  color:
  background:
  border: none 0px;
  height: 1px;
  clear: both;
  margin: 2.0em 0em 2.0em 0em;
}
dl.toc dt
{
  padding-bottom: 0.25em;
}
dl.toc > dt
{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-weight: bold;
}
dl.toc > dl
{
  padding-bottom: 0.5em;
}
.parameter
{
  font-style: normal;
}
.footer
{
  padding-top: 3.5em;
  color:
  text-align: center;
  font-size: 80%;
}
.informalfigure,
.figure
{
  margin: 1em;
}
.informalexample,
.example
{
  margin-top: 1em;
  margin-bottom: 1em;
}
.warning
{
  background:
  background: rgba(252, 175, 62, 0.1);
  border-color:
  border-color: rgba(252, 175, 62, 0.2);
}
.note
{
  background:
  background: rgba(138, 226, 52, 0.1);
  border-color:
  border-color: rgba(138, 226, 52, 0.2);
}
div.blockquote
{
  border-color:
}
.note, .warning, div.blockquote
{
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  margin: 2em;
}
.note p, .warning p
{
  margin: 0;
}
div.warning h3.title,
div.note h3.title
{
  display: none;
}
p + div.section
{
  margin-top: 1em;
}
div.refnamediv,
div.refsynopsisdiv,
div.refsect1,
div.refsect2,
div.toc,
div.section
{
  margin-bottom: 1em;
}
h2 .extralinks, h3 .extralinks
{
  float: right;
  color:
  font-size: 80%;
  font-weight: normal;
}
.lineart
{
  color:
  font-weight: normal;
}
.annotation
{
  color:
  font-weight: normal;
}
.structfield
{
  font-style: normal;
  font-weight: normal;
}
acronym,abbr
{
  border-bottom: 1px dotted gray;
}
.listing_frame {
  border: solid 1px
  border: solid 1px rgba(114, 159, 207, 0.2);
  padding: 0px;
}
.listing_lines, .listing_code {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0.5em;
}
.listing_lines {
  background:
  background: rgba(114, 159, 207, 0.2);
  color:
}
.listing_code {
  background:
  background: rgba(114, 159, 207, 0.1);
}
.listing_code .programlisting {
  border: none 0px;
  padding: 0px;
  background: none;
}
.listing_lines pre, .listing_code pre {
  margin: 0px;
}
@media screen {
  a.footnote
  {
    position: relative;
    top: 0em ! important;
  }
  div.footnote a[name], div.refnamediv a[name], div.refsect1 a[name], div.refsect2 a[name], div.index a[name], div.glossary a[name], div.sect1 a[name]
  {
    display: inline-block;
    position: relative;
    top:-5em;
  }
  div.index div.index
  {
    top: 0em;
  }
  body
  {
    padding-top: 2.5em;
    padding-bottom: 500px;
    max-width: 60em;
  }
  p
  {
    max-width: 60em;
  }
  table.navigation
  {
    position: fixed;
    background:
    border-bottom: solid 1px
    border-spacing: 5px;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 0;
    z-index: 10;
  }
  table.navigation
  {
    padding-left: 6px;
    padding-right: 6px;
  }
  .navigation a, .navigation a:visited
  {
    color:
  }
  .navigation a:hover
  {
    color:
  }
  td.shortcuts
  {
    color:
    font-size: 80%;
    white-space: nowrap;
  }
  td.shortcuts .dim
  {
    color:
  }
  .navigation .title
  {
    font-size: 80%;
    max-width: none;
    margin: 0px;
    font-weight: normal;
  }
}
@media screen and (min-width: 60em) {
  body { margin: auto; }
}
@media screen and (max-width: 60em) {
  .gallery_image { display: none; }
  .property_flags { display: none; }
  .signal_flags { display: none; }
  .parameter_annotations { display: none; }
  .enum_member_annotations { display: none; }
  .struct_member_annotations { display: none; }
  .union_member_annotations { display: none; }
  col.parameters_name { width: auto; }
  col.parameters_description { width: auto; }
  col.struct_members_name { width: auto; }
  col.struct_members_description { width: auto; }
  col.enum_members_name { width: auto; }
  col.enum_members_description { width: auto; }
  col.union_members_name { width: auto; }
  col.union_members_description { width: auto; }
  .listing_lines { display: none; }
}
@media print {
  table.navigation {
    visibility: collapse;
    display: none;
  }
  div.titlepage table.navigation {
    visibility: visible;
    display: table;
    background:
    border: solid 1px
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 0;
    height: 3em;
  }
}
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color:
span.linenos.special { color:
.hll { background-color:
.c { color:
.err { border: 1px solid
.k { color:
.o { color:
.ch { color:
.cm { color:
.cp { color:
.cpf { color:
.c1 { color:
.cs { color:
.gd { color:
.ge { font-style: italic } 
.ges { font-weight: bold; font-style: italic } 
.gr { color:
.gh { color:
.gi { color:
.go { color:
.gp { color:
.gs { font-weight: bold } 
.gu { color:
.gt { color:
.kc { color:
.kd { color:
.kn { color:
.kp { color:
.kr { color:
.kt { color:
.m { color:
.s { color:
.na { color:
.nb { color:
.nc { color:
.no { color:
.nd { color:
.ni { color:
.ne { color:
.nf { color:
.nl { color:
.nn { color:
.nt { color:
.nv { color:
.ow { color:
.w { color:
.mb { color:
.mf { color:
.mh { color:
.mi { color:
.mo { color:
.sa { color:
.sb { color:
.sc { color:
.dl { color:
.sd { color:
.s2 { color:
.se { color:
.sh { color:
.si { color:
.sx { color:
.sr { color:
.s1 { color:
.ss { color:
.bp { color:
.fm { color:
.vc { color:
.vg { color:
.vi { color:
.vm { color:
.il { color: